<!DOCTYPE html>
<html>
<head>
<title>${title!}</title>
<%include("/eova/meta.html"){}%>
<%if(isTrue(isEditor!)){%>
	<link rel="stylesheet" type="text/css" href="/eova/plugins/wangEditor/dist/css/wangEditor.min.css">
	<link rel="stylesheet" type="text/css" href="${CDN!STATIC!}/eova/plugins/jsoneditor/jsoneditor.min.css">
	<link rel="stylesheet" type="text/css" href="${CDN!STATIC!}/eova/plugins/zyupload/control/css/zyUpload.css">
<%}%>
<%include("/eova/include.html"){}%>
${headContent!}
</head>
<body>
${layoutContent!}
<%if(isTrue(isEditor!)){%>
	<script type="text/javascript" src="/eova/plugins/wangEditor/dist/js/wangEditor.min.js"></script>
	<script>
	// 配置表情包
	wangEditor.config.emotions = {'default' : {title : '默认',data : '/eova/plugins/wangEditor/static/emotions/default.data'}};
	// 配置上传图片
	wangEditor.config.uploadImgUrl = '/upload/editor';
	</script>
	<script type="text/javascript" src="${CDN!STATIC!}/eova/plugins/jsoneditor/jsoneditor.min.js"></script>
	<script type="text/javascript" src="${CDN!STATIC!}/eova/plugins/upload/jquery-upload.js"></script>
	<script type="text/javascript" src="${CDN!STATIC!}/eova/plugins/zyupload/control/js/zyUpload.js"></script>
	<script type="text/javascript" src="${CDN!STATIC!}/eova/plugins/zyupload/core/zyFile.js"></script>
<%}%>

<script>
$(function(){
	$('div.eova-text').eovatext();
    $('div.eova-time').eovatime();
    $('div.eova-auto').eovaauto();
    $('div.eova-bool').eovabool();
    $('div.eova-find').eovafind();
    $('div.eova-combo').eovacombo();
    $('div.eova-combotree').eovacombotree();
    $('div.eova-icon').eovaicon();
});
</script>
</body>
</html>