/.classpath
/.project
/.externalToolBuilders
/.settings
/target
/src/main/webapp/ui/eova/*.jscompress
/src/main/webapp/ui/eova/*.JSCompress
/src/main/webapp/ui/eova/src/eova.bool.min.js
/src/main/webapp/ui/eova/src/eova.combo.min.js
/src/main/webapp/ui/eova/src/eova.common.min.js
/src/main/webapp/ui/eova/src/eova.find.min.js
/src/main/webapp/ui/eova/src/eova.text.min.js
/src/main/webapp/ui/eova/src/eova.time.min.js
/src/main/resources/dev
/src/main/webapp/ui/eova/src/eova.cloud.min.js
/src/main/webapp/ui/eova/src/eova.cloud.js
/src/main/webapp/ui/eova/eova.js
/src/main/webapp/WEB-INF/_temp
/src/main/webapp/WEB-INF/module
