<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'eova-icon723',plain:true" onclick="singleDetail()">${button.name!'查看'}</a>
<script type="text/javascript">
    var singleDetail = function () {
    	var $grid = $('#grid');
        if (isSelected($grid)) {
	        var row = $.getWidgetSelected($grid);
            loadDialog($grid, '${object.name} ${I18N(button.name)}', '/form/detail/${object.code}-' + row.pk_val, ${menu.config.params.width!'945'}, ${menu.config.params.height!'600'});
        }
    };
</script>