################################################################
#应用ID和应用密钥在 Eova应用中心 http://www.eova.cn/app 注册获取, 请勿将自己的应用配置泄漏给其它人
#如果是内网应用请放心使用,内网会隔绝一切网络请求,不会有数据泄漏风险!

#应用ID
app_id =
#应用密钥
app_secret =
################################################################

#应用域名
app_domain = http://www.eova.cn
#应用LOGO
app_logo = /ui/images/logo.png
#应用主页
app_main = http://www.eova.cn/eovamain
#应用主页标题
app_main_title = EOVA V1.6 Beta2

#是否启用云服务(依托社区云端大数据，人工智能进行数据预处理，节省成吨工作量！)
cloud_service = true
#(保证不会窃取用户业务数据,可放心使用),如果您还不放心,建议仅在开发环境启用,生产环境关闭