#CDN服务域名
#domain_cdn = http://7xign9.com1.z0.glb.clouddn.com

#静态资源服务域名
#domain_static = http://127.0.0.1

#上传图片服务域名
#domain_img = http://127.0.0.1

#上传文件服务域名
#domain_file = http://127.0.0.1


#######################目录配置
#静态根目录
static_root = D:/eova/static

#上传临时目录
eova_upload_temp = /temp

#编辑器图片
dir_editor = /editor