#事务级别(MYSQL=4,Oralce=2)
db.transaction_level = 4
#是否输出SQL日志
db.showsql = true
#数据库命名规则(是否全小写,建议:Mysql=true,Oracle=false)
db.islowercase = true

#数据源集
db.datasource = eova,main

#Eova数据源
eova.url = jdbc:mysql://127.0.0.1:3306/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova.user = root
eova.pwd = root

#默认数据源
main.url = jdbc:mysql://127.0.0.1:3306/demo?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
main.user = root
main.pwd = root

#其它数据库连接方式
#oracle.url = jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#postgresql.url = jdbc:postgresql://127.0.0.1:5432/postgres