db.datasource = eova,main

#Eova数据源
eova.url = jdbc:mysql://127.0.0.1:3306/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova.user = root
eova.pwd = root

#默认数据源
main.url = jdbc:mysql://127.0.0.1:3306/demo?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
main.user = root
main.pwd = root

#其它数据库连接方式
#oracle_url = jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#postgresql_url = jdbc:postgresql://127.0.0.1:5432/postgres