#默认数据源
main_url = jdbc:mysql://127.0.0.1:3306/demo?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
main_user = root
main_pwd = root

#Eova数据源
eova_url = jdbc:mysql://127.0.0.1:3306/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova_user = root
eova_pwd = root

#其它数据源连接方式
#oracle_url = jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#postgresql_url = jdbc:postgresql://127.0.0.1:5432/postgres