<!DOCTYPE html>
<html lang="en">
<head>
  <title>新增#(object.name)</title>
  #include("/eova/_view/_page/form.html")
  <script type="module" src="/eova/_view/template/form/add/index.js?v1.2"></script>
  <style lang="css">
      body {
          background-color: white;
      }
  </style>
</head>
<body>
<div id="app" v-cloak>
  <div>
    <ev-form
      ref="refForm"
      mode="create"
      name="#(object.code)"
      object="#(object.code)"
      v-model="data"
      @ready="onReady"
    ></ev-form>
  </div>
  #include("/eova/_view/_block/admin_form.html", mode="create")
</div>
<script>
    uzoo.page.code = '#(object.code)'
    uzoo.page.form = 'create'
    let fixed = '#(fixed)'
    if (fixed) {
        uzoo.page.fixed = JSON.parse(fixed)
    }
</script>
</body>
</html>
