################################################################
#当前配置项会自动覆盖 /default/domain.config
#本配置仅应存在与开发环境不允许提交SVN和发布到生产环境
#生产环境的配置应该放在/default 中
################################################################

#CDN服务域名(ICON小图标默认走CDN,若CDN无法访问,需手工解压/plugins/eovaicon/icon.7z,并注释下面的domain_cdn,则默认命中本地资源)
#domain_cdn = http://es.jiawei.dev.dajiabao.com
#domain_cdn = http://127.0.0.1:10086

#静态资源服务域名
#domain_static = http://oss.jiawei.dev.dajiabao.com
#domain_static = http://127.0.0.1

#上传图片服务域名(这里用本地服务作为图片 )
#domain_img = http://oss.jiawei.dev.dajiabao.com
#domain_img = http://127.0.0.1

#上传文件服务域名
#domain_file =


#######################目录配置
#静态根目录
static_root = D:/yun/project/eova/oss/webapp