local_url = jdbc:mysql://127.0.0.1:12581/web?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
local_user = root
local_pwd = root

local_eova_url = jdbc:mysql://127.0.0.1:12581/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#local_eova_url = jdbc:postgresql://127.0.0.1:5432/postgres
local_eova_user = root
local_eova_pwd = root

#oracle_url = jdbc:oracle:thin:@localhost:1521:orcl
#postgresql_url = jdbc:postgresql://172.16.4.56:5432/postgres
#h2_url = jdbc:h2:file:~/.h2/web;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE

showSql = true
devMode = true
