url = jdbc:mysql://10.4.12.173/d89d3f06498ef4075aba5a9bb9060fdf6?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
user = umF1CYnaTh1Ny
pwd = pvOki1DrFuIbg

eova_url = jdbc:mysql://10.4.26.93/d90c190449e9a48f581f574278f3d67b7?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova_user = u1QPxkyHeJL8K
eova_pwd = pGGCk4yIAM1i4

#local_url = jdbc:postgresql://172.16.4.56:5432/postgres
#local_url = jdbc:mysql://127.0.0.1/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
local_url = jdbc:h2:file:~/.h2/web;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE
local_user = sa
local_pwd =

#local_url = jdbc:postgresql://172.16.4.56:5432/postgres
#local_url = jdbc:mysql://127.0.0.1/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
local_eova_url = jdbc:h2:file:~/.h2/eova;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE
local_eova_user = sa
local_eova_pwd =

2local_url = jdbc:mysql://127.0.0.1/webtest?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
2local_user = root
2local_pwd = root

2local_eova_url = jdbc:mysql://127.0.0.1/eovatest?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
2local_eova_user = root
2local_eova_pwd = root

domain_cdn = http://7xign9.com1.z0.glb.clouddn.com
