local_url = jdbc:mysql://127.0.0.1/web?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
local_user = root
local_pwd = root

local_eova_url = jdbc:mysql://127.0.0.1/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
local_eova_user = root
local_eova_pwd = root

#oracle_url = jdbc:oracle:thin:@localhost:1521:orcl
#postgresql_url = jdbc:postgresql://172.16.4.56:5432/postgres
#h2_url = jdbc:h2:file:~/.h2/web;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE

domain_cdn = http://7xign9.com1.z0.glb.clouddn.com

showSql = true
devMode = true
