* {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.mainTable {
	margin: 5px;
	/* 	padding: 5px; */
	border: 1px solid #95B8E7;
}

.mainTable tr {
	line-height: 20px;
}

.mainTable td {
	border: 0px solid #95B8E7;
	padding: 0px;
}

.main {
	margin: 5px;
	padding: 5px;
	border: 1px solid #95B8E7;
}

.eova-text i {
	background-position: center 0;
}

.eova-combo i {
	background-position: center -20px;
}

.eova-find i {
	background-position: center -40px;
}

.eova-time i {
	background-position: center -60px;
}

.eova-icon i {
	background-position: center -80px;
}

.eova-file i {
	background-position: center -100px;
}

.eova-auto i {
	background-position: center -120px;
}

.eova-label {
	line-height: 32px;
	vertical-align: middle;
/* 	display: inline-block; */
/* 	float: left; */
/* 	padding: 5px; */
}

.eova-auto, .eova-text, .eova-combo, .eova-find, .eova-time, .eova-file, .eova-icon {
	display: inline-block;
	height: 20px;
	border: 1px solid #95B8E7;
	/*margin: 5px;*/
	vertical-align: middle;
}

div[class^="eova"] input[type="text"] {
	float: left;
	height: 20px;
	border: 0px solid #95B8E7;
	border-right: 0px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	width: 170px;
}

div[class^="eova-check"] input, .eova-check-input{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

div[class^="eova"] input[type="text"]:focus, .eova-texts:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 18px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 12px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 12px rgba(102, 175, 233, .6);
/* 	border-right: 0; */
	outline: 0;
	border-color: #66afe9;
}

div[class^="eova"] i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(eova_icon.png);
	background-repeat: no-repeat;
	background-color: #ECF3FF;
	border: 0;
	cursor: pointer;
}

div[class^="eova"] i:hover {
	background-color: #D7E3F3;
}

.eova-auto input {

}

.eova-file-img {
	display: inline-block;
/* 	vertical-align: middle; */
/* 	border: 1px solid #95B8E7; */
/* 	display: none; */
}

.eova-file [type=file] {
	opacity: 0;
	position: absolute;
	border: 1px solid #95B8E7;
/* 	width: 170px; */
	/* 	display: none; */
	/* 	left: 100px; */
	/* 	top: 100px; */
}

.eova-combo-panel {
	overflow: hidden;
	/*position: absolute;*/
	z-index: 110000;
	display: none;
	width: 169px;
	border: 1px solid #95B8E7;
	background-color: #ffffff;
    text-align: left;
}

.eova-combo-panel div {
	font-size: 12px;
	padding: 3px;
	line-height: 15px;
	height: 14px;
}

.eova-combo-panel div:hover {
	background-color: #eaf2ff;
	color: #000000;
}

.eova-combo-selected {
	background-color: #ffe48d;
	color: #000000;
}

/* Eova Form Widget CSS*/
.eova-form {
	margin-top:5px;
}
.eova-form-field, .eova-form-lbl{
	float: left;
}
.eova-form-field{
	width: 280px;
	margin-left: 10px;
}
.eova-form-lbl{
	line-height: 25px;
	width: 90px;
}

/* plugin validate error,提升优先级 */
.error {
	box-shadow: 0 0 6px #ff4136 !important; 
}

.red {
	color: #CC3300  ;
}