/*
  EovaUI 主题 橙色
  配色风格来源: 淘宝
  定制委托人:红薯
  背景:通义千问团队快速扩张，后台开发资源不够，想使用EovaMeta来做一些后台系统，提升效率。
 */
.eova-theme_orange {
    /* 主色 */
    --eova-color_main: #fe7300; /* 根据期望值，确定主色调。 */

    /* 选中 */
    --eova-color_hover: #ffd9b8; /* 颜色深浅度:主色50% */

    /* 背景 */
    --eova-color_bg: #fff5ed; /* 颜色深浅度:主色20% */
    --eova-color_bg1: #ffebdb; /* 颜色深浅度:主色40% */
    --eova-color_bg2: #ffd9b8; /* 颜色深浅度:主色60% */
    --eova-color_bg3: #ffc08a; /* 颜色深浅度:主色80% */

    /* 边框 */
    --eova-color_border: #ffebdb; /* 颜色深浅度:主色30%*/
    --eova-color_border1: #ffd9b8; /* 颜色深浅度:主色50% */
    --eova-color_border2: #ffc08a; /* 颜色深浅度:主色60% */
    --eova-color_border3: #ffa55c; /* 颜色深浅度:主色80% */
}