#CDN服务域名
#domain_cdn = http://7xign9.com1.z0.glb.clouddn.com

#静态资源服务域名
#domain_static = http://static.eova.cn

#上传图片服务域名
#domain_img = http://static.eova.cn

#上传文件服务域名
#domain_file = http://file.eova.cn


#######################目录配置
#上传临时目录
#eova_upload_temp = /home/upload/

#静态根目录
#static_root = /home/static