<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'eova-icon732',plain:true" onclick="slave_${object.code}_deletes()">删除</a>
<script type="text/javascript">
	var slave_${object.code}_deletes = function() {
		var $grid = $('#${gridId}');
        var rows = $grid.datagrid('getSelections');
        var num = rows.length;
        if (num == "0") {
        	// 删除可多选
        	$.slideMsg("请选择一条记录！");
            return;
        }
        confirmDel($grid, '${object.code}', rows);
	};
</script>