html #layuicss-layuiAdmin{display: none; position: absolute; width: 1989px;}

/* 系统 */
::-webkit-input-placeholder{color: #ccc}

/* 全局 */
html{background-color: #f2f2f2; color: #666;}
*[template],
.layadmin-tabsbody-item{display: none;}
*[lay-href],
*[lay-tips],
*[layadmin-event]{cursor: pointer;}

/* 重置布局结构 */
.layui-layout-admin .layui-header{position: fixed; top: 0; left: 0; width: 100%; height: 50px;} 

/*
.layui-layout-admin .layui-header .layui-layout-right .layui-nav-item a{color: #fff;}
.layui-layout-admin .layui-header .layui-layout-right .layui-nav-item a cite{color: rgba(255,255,255,.7);}
*/

.layui-layout-admin .layui-header .layui-nav .layui-nav-child a{color: #333;}
.layui-layout-admin .layui-side{width: 220px; top: 0; z-index: 1001;}
.layui-layout-admin .layui-logo,
.layui-layout-admin .layui-header .layui-nav .layui-nav-item{height: 50px; line-height: 50px;}
.layui-layout-admin .layui-logo{position: fixed; left: 0; top: 0; z-index: 1002; width: 220px; height: 49px; padding: 0 15px; box-sizing: border-box; overflow: hidden; font-weight: 300; background-repeat: no-repeat; background-position: center center;}
.layui-layout-admin .layui-layout-left,
.layadmin-pagetabs,
.layui-layout-admin .layui-body,
.layui-layout-admin .layui-footer{left: 220px;}
.layadmin-pagetabs{position: fixed; top: 50px; right: 0; z-index: 999;}
.layadmin-pagetabs .layui-breadcrumb{padding: 0 15px;}
.layui-layout-admin .layui-body{top: 90px; bottom: 0;}
.layui-layout-admin .layui-body .layadmin-tabsbody-item{position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;}
.layui-layout-admin .layui-header .layui-nav-img{width: 26px; height: 26px;}
.layui-layout-admin .layui-header .layui-nav-child{top: 55px;}
.layui-layout-admin .layui-header .layui-layout-right .layui-nav-child{left: auto; right: 0;}
.layui-layout-admin .layui-header .layui-nav .layui-nav-child dd.layui-this a,
.layui-layout-admin .layui-header .layui-nav .layui-nav-child dd.layui-this{background: none}

/* 统一动画 */
.layui-layout-admin .layui-header .layui-nav .layui-nav-item,
.layui-layout-admin .layui-layout-left,
.layadmin-pagetabs,
.layui-layout-admin .layui-body,
.layui-layout-admin .layui-footer,
.layui-layout-admin .layui-side,
.layui-layout-admin .layui-logo,
.layui-layout-admin .layui-header .layui-layout-right{transition: all .3s; -webkit-transition: all .3s;}

/* 表单 */
/* .layui-form[wid100] .layui-form-label{width: 100px;} */
/* .layui-form[wid100] .layui-input-block{margin-left: 130px;} */
/* @media screen and (max-width: 450px){ */
/*   .layui-form[wid100] .layui-form-item .layui-input-inline{margin-left: 132px;} */
/*   .layui-form[wid100] .layui-form-item .layui-input-inline+.layui-form-mid{margin-left: 130px;} */
/* } */
/* .layui-form-item .layui-input-company{width: auto; padding-right: 10px; line-height: 38px;} */

/* 辅助 */
.layadmin-flexible{}
.layui-bg-white{background-color: #fff;}
.layadmin-loading{position: absolute; left: 50%; top: 50%; margin: -16px -15px; font-size: 30px; color: #c2c2c2;}
.layadmin-fixed{position: fixed; left: 0; top: 0; z-index: 999;}
.layadmin-link{color: #029789!important;}
.layadmin-link:hover{opacity: 0.8;}

/* 弹出面板 */
.layui-layer-admin .layui-layer-title{height: 50px; line-height: 50px; border: none 0; background-color: #20222A; color: #fff;}
.layui-layer-admin i[close]{position: absolute; padding: 5px; right: 10px; top: 12px; color: #fff; cursor: pointer;}
.layui-layer-admin .layui-layer-content{padding: 20px; line-height: 22px;}
.layui-layer-admin .layui-layer-content cite{font-style: normal; color: #FF5722;}

/* 右侧面板 */
.layui-layer-adminRight{top: 50px !important; bottom: 0; box-shadow: 1px 1px 10px rgba(0,0,0,.1); border-radius: 0; overflow: auto;}

/* 头部导航 */
.layui-layout-admin .layui-layout-left{padding: 0 10px;}
.layui-layout-admin .layui-layout-left .layui-nav-item{margin: 0 20px;}
.layui-layout-admin .layui-input-search{display: inline-block; vertical-align: middle; height: 32px; border: none; cursor: text;}
.layui-layout-admin .layui-layout-left a{padding: 0;}
.layui-layout-admin .layui-layout-right{padding: 0;}
.layui-header .layui-nav-item .layui-icon{position: relative; top: 1px; font-size: 16px;}
.layui-header .layui-nav-item:hover{}
.layui-header .layui-layout-right .layui-badge-dot{margin-left: 11px;}
.layui-header .layui-nav .layui-this:after,
.layui-layout-admin .layui-header .layui-nav-bar{top: 0 !important; bottom: auto; height: 3px; background-color: #fff; background-color: rgba(255,255,255,.3);}

/* 遮罩 */
.layadmin-body-shade{position: fixed; display: none; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.3); z-index: 1000;}

/* 侧边菜单 */
.layui-side-menu .layui-side-scroll{width: 240px;}
.layui-side-menu .layui-nav{width: 220px; margin-top: 50px; background: none;}
.layui-side-menu .layui-nav .layui-nav-item a{height: 40px; line-height: 40px; padding-left: 45px; padding-right: 30px;}
.layui-side-menu .layui-nav .layui-nav-item > a{padding-top: 8px; padding-bottom: 8px;}
.layui-side-menu .layui-nav .layui-nav-item a:hover{background: none;}
.layui-side-menu .layui-nav .layui-nav-itemed > .layui-nav-child{padding: 5px 0;}
.layui-side-menu .layui-nav .layui-nav-item .layui-icon{position: absolute; top: 50%; left: 20px; margin-top: -19px;}
.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child{background: none!important;}
.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child a{padding-left: 60px}
.layui-side-menu .layui-nav .layui-nav-more{right: 15px;}

/* 侧边菜单 - 平板移动设备 */
@media screen and (max-width: 992px) {
  .layui-layout-admin .layui-side{transform: translate3d(-220px, 0, 0); -webkit-transform: translate3d(-220px, 0, 0); width: 220px;}
  .layui-layout-admin .layui-layout-left,
  .layadmin-pagetabs,
  .layui-layout-admin .layui-body,
  .layui-layout-admin .layui-footer{left: 0;}
}

/* 侧边收缩模式 */
.layadmin-side-shrink .layui-layout-admin .layui-logo{width: 60px; background-image: url(../images/logo.png); /*background-size: 20px;)*/}
.layadmin-side-shrink .layui-layout-admin .layui-logo span{display: none;}
.layadmin-side-shrink .layui-side{left: 0; width: 60px;}
.layadmin-side-shrink .layui-layout-admin .layui-layout-left,
.layadmin-side-shrink .layadmin-pagetabs,
.layadmin-side-shrink .layui-layout-admin .layui-body,
.layadmin-side-shrink .layui-layout-admin .layui-footer{left: 60px;}
.layadmin-side-shrink .layui-side-menu .layui-nav{position: static; width: 60px;}
.layadmin-side-shrink .layui-side-menu .layui-nav-item{position: static;}
.layadmin-side-shrink .layui-side-menu .layui-nav-item>a{padding-right: 0;}
.layadmin-side-shrink .layui-side-menu .layui-nav-item cite,
.layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > a .layui-nav-more,
.layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child{display: none; padding: 8px 0; width: 200px;}
.layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-itemed>a{background: rgba(0,0,0,.3);}
.layadmin-side-shrink .layui-side-menu .eova-svg{top: 30% !important;}
.layadmin-side-shrink .layui-nav div {
    position: relative;
    margin-left: -36px;
    font-size: 12px;
    line-height: 60px;
    display: block;
    text-align: center;
    width: 40px;
}

/* 移动端展开模式 */
.layadmin-side-spread-sm .layui-layout-admin .layui-layout-left,
.layadmin-side-spread-sm .layadmin-pagetabs,
.layadmin-side-spread-sm .layui-layout-admin .layui-body,
.layadmin-side-spread-sm .layui-layout-admin .layui-footer{left: 0; transform: translate3d(220px, 0, 0); -webkit-transform: translate3d(220px, 0, 0);}
.layadmin-side-spread-sm .layui-layout-admin .layui-layout-right{transform: translate3d(220px, 0, 0); -webkit-transform: translate3d(220px, 0, 0);}
.layadmin-side-spread-sm .layui-side{transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0);}
.layadmin-side-spread-sm .layadmin-body-shade{display: block; }


/* 页面标签 */
.layadmin-pagetabs{height: 40px; line-height: 40px; padding: 0 80px 0 40px; /*border-bottom: 2px solid #292B34;*/ background-color: #fff; box-sizing: border-box; box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);}
.layadmin-pagetabs .layadmin-tabs-control{position: absolute; top: 0; width: 40px; height: 100%; text-align: center; cursor: pointer; transition: all .3s; -webkit-transition: all .3s; box-sizing: border-box; border-left: 1px solid #f6f6f6;}
.layadmin-pagetabs .layadmin-tabs-control:hover{background-color: #f6f6f6;}
.layadmin-pagetabs .layui-icon-prev{left: 0; border-left: none; border-right: 1px solid #f6f6f6;}
.layadmin-pagetabs .layui-icon-next{right: 40px; right: 40px;}
.layadmin-pagetabs .layui-icon-down{right: 0;}
.layadmin-tabs-select.layui-nav{position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 0; background: none;}
.layadmin-tabs-select.layui-nav .layui-nav-item{line-height: 40px;}
.layadmin-tabs-select.layui-nav .layui-nav-item>a{height: 40px;}
.layadmin-tabs-select.layui-nav .layui-nav-item a{color: #666;}
.layadmin-tabs-select.layui-nav .layui-nav-child{top: 40px; left: auto; right: 0;}
.layadmin-tabs-select.layui-nav .layui-nav-child dd.layui-this,
.layadmin-tabs-select.layui-nav .layui-nav-child dd.layui-this a{background-color: #f2f2f2!important; color: #333;}
.layadmin-tabs-select.layui-nav .layui-nav-more,
.layadmin-tabs-select.layui-nav .layui-nav-bar{display: none;}

.layadmin-pagetabs .layui-tab{margin: 0; overflow: hidden;}
.layadmin-pagetabs .layui-tab-title{height: 40px; border: none;}
.layadmin-pagetabs .layui-tab-title li{min-width: 0; line-height: 40px; max-width: 160px; text-overflow: ellipsis; padding-right: 40px; overflow: hidden; border-right: 1px solid #f6f6f6; vertical-align: top;}
.layadmin-pagetabs .layui-tab-title li:first-child{ padding-right: 15px;}
.layadmin-pagetabs .layui-tab-title li:first-child .layui-tab-close{display: none;}
.layadmin-pagetabs .layui-tab-title li .layui-tab-close{position: absolute; right: 8px; top: 50%; margin: -7px 0 0 0; width: 16px; height: 16px; line-height: 16px; border-radius: 50%; font-size: 12px;}
.layadmin-pagetabs .layui-tab-title li:after{content:''; position: absolute; top: 0; left: 0; width: 0; height: 2px; border-radius: 0; background-color: #292B34; transition: all .3s; -webkit-transition: all .3s;}
.layadmin-pagetabs .layui-tab-title li:hover:after{width: 100%;}
.layadmin-pagetabs .layui-tab-title li:hover,
.layadmin-pagetabs .layui-tab-title li.layui-this{background-color: #f6f6f6;}
.layadmin-pagetabs .layui-tab-title li.layui-this:after{width: 100%; border: none; height: 2px; background-color: #292B34;}

/* 不开启页面标签时 */
/* .layadmin-tabspage-none .layui-layout-admin .layui-header{border-bottom: none; box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);} */
/* .layadmin-tabspage-none .layui-layout-admin .layui-body{top: 50px;} */
/* .layadmin-tabspage-none .layadmin-header{display: block;} */
/* .layadmin-tabspage-none .layadmin-header .layui-breadcrumb{border-top: 1px solid #f6f6f6;} */

/* 默认主题修饰 */
.layui-layout-admin .layui-header{border-bottom: 1px solid #f6f6f6; box-sizing: border-box; background-color: #fff;}
.layui-layout-admin .layui-header a,
.layui-layout-admin .layui-header a cite{color: #333;}
.layui-layout-admin .layui-header a:hover{color: #000;}
.layui-layout-admin .layui-header .layui-nav .layui-nav-more{border-top-color: #666}
.layui-layout-admin .layui-header .layui-nav .layui-nav-mored{border-color: transparent; border-bottom-color: #666;}
.layui-layout-admin .layui-header .layui-nav .layui-this:after, 
.layui-layout-admin .layui-header .layui-nav-bar{height: 2px; background-color: #20222A}
.layui-layout-admin .layui-logo{background-color: #20222A; box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);}
.layui-layout-admin .layui-logo,
.layui-layout-admin .layui-logo a{color: #fff; color: rgba(255,255,255,.8)}
.layui-side-menu{box-shadow: 1px 0 2px 0 rgba(0,0,0,.05);}
.layui-layout-admin .layui-footer{box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05);}

.layui-side-menu,
.layadmin-setTheme-side{background-color: #20222A; color: #fff;}
.layadmin-setTheme-header{background-color: #fff;}

.layui-layout-admin .layui-footer{background-color: #fff;}
.layui-tab-admin .layui-tab-title{background-color: #393D49; color: #fff;}

/*布局*/
.layui-fluid{padding: 15px;}
.layadmin-header{display: none; height: 50px; line-height: 50px; margin-bottom: 0; border-radius: 0;}
.layadmin-header .layui-breadcrumb{padding: 0 15px;}
.layui-card-header{position: relative;}
.layui-card-header .layui-icon{line-height: initial; position: absolute; right: 15px; top: 50%; margin-top: -7px;}
.layadmin-iframe{position: absolute; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0;}

/*Layui 兼容*/
.layui-side-menu .layui-nav .layui-nav-item a .eova-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -19px;
}
.layui-fixbar li {
	width: 40px;
    height: 40px;
    line-height: 40px;
}

/**Tab固定**/
.tab-ding{
    background-position: 100% 0;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-image: url('/eova/ui/images/tab_ding.png');
}
.layui-tab-title li{
    transition: none;
    -webkit-transition: none;
}