### ToolBar 遍历

#for(btn : btnList)

#if(btn.is_base)
<button class="#(btn.style)" @click="#(btn.event)()">
    <i class="#(btn.icon)"></i>
    #(btn.name)
</button>
#else
<button class="#(btn.style)" onclick="handlerButtonEvent('#(btn.event)')">
    <i class="#(btn.icon)"></i>
    #(btn.name)
</button>
#end

#end

#--
<button @click="onAdd()">
    <i class="eova-icon-add-1"></i>
    新增
</button>
<button @click="onUpdate()">
    <i class="eova-icon-edit"></i>
    修改
</button>
<button @click="onDetail()">
    <i class="eova-icon-eye"></i>
    查看
</button>
<button class="eova-btn_error" @click="onDelete()">
    <i class="eova-icon-delete"></i>
    删除
</button>
<button class="eova-btn_warn">
    <i class="eova-icon-refresh"></i>
    一键刷新
</button>
<button class="eova-btn_info">
    <i class="eova-icon-release"></i>
    一键发版
</button>
<template v-for="btn in auths">
    <template v-if="btn.is_base == 1">
        <button :class="btn.style" @click="btn.event">
            <i :class="btn.icon"></i>
            {{btn.name}}
        </button>
    </template>
    <template v-else>
        <button :class="btn.style" :onclick="btn.event">
            <i :class="btn.icon"></i>
            {{btn.name}}
        </button>
    </template>
</template>
--#